body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    /* background-color: #1f1e1f; */
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "container"
    "footer";
}

header{
    grid-area: header;
    padding: 12rem 0;
    text-align: center;
}

container{
    grid-area: container;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-areas:
    "sep1 sep1 sep1 sep1 sep1 sep1"
    "titre1 titre1 titre1 titre1 titre1 titre1"
    ". . cont1 cont1 cont2 cont2"
    "titre2 titre2 titre2 titre2 titre2 titre2"
    "cont3 cont3 cont3 cont4 cont4 cont4"
    "cont5 cont5 cont5 cont5 cont5 cont5"
    "sep2 sep2 sep2 sep2 sep2 sep2";
}

#separator1{
    grid-area:sep1;
}
#separator2{
    grid-area:sep2;
}

#intro{
    grid-area:intro;
    padding: 0 10rem;
    margin: 50px
}

#titre1{
    grid-area: titre1;
}
#titre2{
    grid-area: titre2;
}

#container1{
    grid-area:cont1;
}
#container2{
    grid-area:cont2;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "."
    "graph2";
}
#container3{
    grid-area:cont3;
}
#container4{
    grid-area:cont4;
}
#container5{
    grid-area:cont5;
}
#graph1{
    padding: 2rem 0;
}
#graph2{
    grid-area: graph2;
}

footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nom . cours";
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#nom{
    grid-area: nom;
}

#cours{
    grid-area: cours;
}

h1{
    font-size: 4rem;
    padding:0;
    margin:0;
}

h2{
    font-size: 1.5rem;
    margin:0;
}

h3{
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 0;
}

.wrapper{
    height: 10vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}



/** Petit effet parallaxe parce que j'aime bien **/

.section { 
    height: 10vh;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

/** FIN effet parallaxe **/

.bg-img-dark{
    background-image: url(img/fifa21-bg-dark.png);
    background-color: #1f1e1f;
    background-attachment:fixed;
    background-repeat:no-repeat;
    color: #fff;
}

.bg-img-blue{
    height: 6rem;
    background-image: url(img/f21-ea-play-section.png);
    background-color: #1f1e1f;
    background-attachment:fixed;
    background-repeat:no-repeat;
}

.texte{
    margin:2rem 0;
}